.add__task {
	grid-row: 1 / 2;
}

.trololo__title {
	font-size: calc(30px + (34 - 30) * (100vw - 240px) / (700 - 240));
	@extend %roboto-bold;
}

.trololo__subtitle {
	font-size: calc(16px + (18 - 16) * (100vw - 240px) / (700 - 240));
	margin: 0;
	@extend %roboto-regular;
}

.trololo__explanation {
	font-size: calc(12px + (14 - 12) * (100vw - 240px) / (700 - 240));
	color: #a1a1a1;
	padding: 20px;
	margin: 0;
	@extend %roboto-regular;
}

input {
	width: 350px;
	height: 30px;
	border: 1px solid #e1e1e1;
	border-radius: 7px;
	margin-left: 15px;
	text-indent: 20px;
}

button {
	width: 88px;
	height: 35px;
	background-color: #5acec1;
	color: white;
	border: none;
	border-radius: 8px;
	margin-left: 10px;
	cursor: pointer;
}

@media only screen and (max-width: 620px) {
	input {
		width: 50vw;
	}

	button {
		width: 15vw;
	}
}
