.doing__tasks {
    background-color: #fee6f4;
    margin-top: 25px;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .doing__tasks {
        width: 90%;
        justify-self: center;
        justify-content: flex-start;
        margin: 0;
    }
}
