.tasks {
	display: flex;
	width: auto;
	flex-direction: row;
	height: 100%;
	grid-row: 2 / 3;
	margin-top: 20px;
	margin-left: 30px;
	align-content: center;
	justify-content: space-around;
}

.task {
	display: flex;
	flex-direction: column;
	margin: 0;
	width: 270px;
	border-radius: 10px;
	min-height: 420px;
	align-items: center;
}

.tasks__cross {
	width: 5%;
	align-self: flex-start;
	margin-top: 10px;
	margin-right: 10px;
	fill: #1d2c43;
	cursor: pointer;
	display: none;
}

.tasks__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 85%;
	height: 75px;
	margin-top: 15px;
	padding: 8px;
	background-color: white;
	border-radius: 10px;

	p {
		margin: 0 auto;
		color: #1d2c43;
		font-size: calc(12px + (12 - 12) * (100vw - 240px) / (700 - 240));
		@extend %roboto-medium;
	}

	&:hover {
		.tasks__cross {
			display: block;
		}
	}
}

.tasks__title {
	align-self: flex-start;
	margin-left: 22px;
	color: #1d2c43;
	font-size: calc(16px + (16 - 16) * (100vw - 240px) / (700 - 240));
	@extend %roboto-bold;
}
