.tasks {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100vw;
	height: 100%;
	grid-row: 2 / 3;
	margin-top: 20px;
	margin-left: 30px;
}

.task {
	display: flex;
	flex-direction: column;
	margin: 0;
	width: 270px;
	border-radius: 10px;
	min-height: 420px;
	align-items: center;
}

.tasks__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 85%;
	height: 75px;
	margin-top: 15px;
	background-color: white;
	border-radius: 10px;
	cursor: pointer;

	p {
		color: #1d2c43;
		font-size: calc(12px + (12 - 12) * (100vw - 240px) / (700 - 240));
		@extend %roboto-medium;
	}
}

.tasks__title {
	align-self: flex-start;
	margin-left: 22px;
	color: #1d2c43;
	font-size: calc(16px + (16 - 16) * (100vw - 240px) / (700 - 240));
	@extend %roboto-bold;
}
