.todo__tasks {
	background-color: #f1f1f1;
	margin: 0;
	align-items: center;
}

@media only screen and (min-width: 600px) {
	.todo__tasks {
		width: 90%;
		justify-self: center;
		justify-content: flex-start;
	}
}
